<div class="mt-4" *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="alert alert-danger mt-4" *ngIf="error" role="alert">
    {{ error }}
</div>
<div class="mt-4" *ngIf="!isLoading && !error">
    <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
            <button type="button" class="btn btn-success" (click)="onNewSuratMasuk()">Tambah Surat</button>
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight">
           <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option 
                    *ngFor="let m of month; index as i;" 
                    [value]="i + 1"
                    [selected]="(i + 1) === (currentMonth)">{{ m }}</option>
            </select>
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                 <option 
                    *ngFor="let y of year | reverse; index as i;"
                    [value]="y"
                    [selected]="currentYear === y">{{ y }}</option>
             </select>
         </div>
    </div>
    <table class="table table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Waktu Penerimaan Surat</th>
                <th scope="col">Asal Surat</th>
                <th scope="col">Nomor & Tgl Surat</th>
                <th scope="col">Perihal</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sm of suratMasuk; index as i;" style="cursor: pointer;">
                <td class="align-top">{{ i + 1 }}</td>
                <td class="align-top">{{ sm.waktuPenerimaanSurat }}</td>
                <td class="align-top">{{ sm.asal }}</td>
                <td class="align-top">{{ sm.nomorSurat }} - {{ sm.tanggalSurat }}</td>
                <td class="align-top">{{ sm.perihal }}</td>
                <td class="align-top">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Detail</a></li>
                            <li><a class="dropdown-item" href="#">Ubah</a></li>
                            <li><a class="dropdown-item" href="#">Hapus</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="suratMasuk.length === 0">
        <app-no-data-alert></app-no-data-alert>
    </div>
</div>