<main>
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 30px;">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <img class="mb-4 img-error" src="assets/images/error-404-monochrome.svg" />
                    <p class="lead">Ups... Halaman URL ini tidak ditemukan.</p>
                    <a href="/">
                        <i class="fas fa-arrow-left me-1"></i>
                        Kembali ke Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
