<div *ngIf="isLoadingEditForm && isEditMode" class="mt-4" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="alert alert-danger mt-4" *ngIf="editModeError && isEditMode" role="alert">
    {{ error }} 
    <br>
    <a 
        [routerLink]="['/surat-masuk', jenisSurat === 'RAHASIA' ? 'rahasia' : 'biasa']"
        [queryParams]="{edit: 1, jenisSurat: jenisSurat}" 
        class="alert-link">Kembali</a>
</div>
<div class="mt-4" style="margin-bottom: 50px;" *ngIf="!isLoadingEditForm && !editModeError">
    <div class="row">
        <div class="col-sm-10 col-md-8 col-xl-8 offset-sm-2 col-md-2 offset-xl-2">
            <strong [ngClass]="{biasa: jenisSurat === 'BIASA',
                                rahasia: jenisSurat === 'RAHASIA'}">Jenis Surat: {{ jenisSurat }}</strong>
            <hr>
            <form [formGroup]="suratMasukForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="tanggalPenerimaanSurat">Tanggal Penerimaan Surat:</label>
                            <input 
                                type="date"
                                name="tanggalPenerimaanSurat"
                                class="form-control"
                                formControlName="tanggalPenerimaanSurat">
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="suratMasukForm.get('tanggalPenerimaanSurat')?.errors?.['required'] && 
                                   suratMasukForm.get('tanggalPenerimaanSurat')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="suratMasukForm.get('tanggalPenerimaanSurat')?.errors?.['minlength'] && 
                                    suratMasukForm.get('tanggalPenerimaanSurat')?.touched">
                                Minimal 10 karakter!!!</small>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="jamPenerimaanSurat">Jam Penerimaan Surat:</label>
                            <input 
                                type="time"
                                name="jamPenerimaanSurat"
                                class="form-control"
                                formControlName="jamPenerimaanSurat">
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="suratMasukForm.get('jamPenerimaanSurat')?.errors?.['required'] && 
                                   suratMasukForm.get('jamPenerimaanSurat')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="suratMasukForm.get('jamPenerimaanSurat')?.errors?.['minlength'] && 
                                    suratMasukForm.get('jamPenerimaanSurat')?.touched">
                                Minimal 5 karakter!!!</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="asal">Asal Surat:</label>
                    <input 
                        type="text" 
                        name="asal" 
                        class="form-control"
                        formControlName="asal">
                </div>
                <small 
                    class="text-alert" 
                    *ngIf="suratMasukForm.get('asal')?.errors?.['required'] && 
                            suratMasukForm.get('asal')?.touched">
                        Wajib diisi!!!</small>
                <small 
                    class="text-alert" 
                    *ngIf="suratMasukForm.get('asal')?.errors?.['minlength'] && 
                           suratMasukForm.get('asal')?.touched">
                        Minimal 3 karakter!!!</small>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="nomorSurat">Nomor Surat:</label>
                            <input 
                                type="text" 
                                name="nomorSurat" 
                                class="form-control"
                                formControlName="nomorSurat">
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="suratMasukForm.get('nomorSurat')?.errors?.['required'] && 
                                    suratMasukForm.get('nomorSurat')?.touched">
                                Wajib diisi!!!</small>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="tanggalSurat">Tanggal Surat:</label>
                            <input 
                                type="date" 
                                name="tanggalSurat" 
                                class="form-control"
                                formControlName="tanggalSurat">
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="suratMasukForm.get('tanggalSurat')?.errors?.['required'] && 
                                    suratMasukForm.get('tanggalSurat')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="suratMasukForm.get('tanggalSurat')?.errors?.['minlength'] && 
                                    suratMasukForm.get('tanggalSurat')?.touched">
                                Minimal 10 karakter dengan format yyyy-MM-dd!!!</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="perihal">Perihal:</label>
                    <textarea
                        rows="3"
                        type="text" 
                        name="perihal" 
                        class="form-control"
                        formControlName="perihal"></textarea>
                </div>
                <small 
                    class="text-alert" 
                    *ngIf="suratMasukForm.get('perihal')?.errors?.['required'] && 
                            suratMasukForm.get('perihal')?.touched">
                        Wajib diisi!!!</small>
                <small 
                    class="text-alert" 
                    *ngIf="suratMasukForm.get('perihal')?.errors?.['minlength'] && 
                            suratMasukForm.get('perihal')?.touched">
                        Minimal 5 karakter!!!</small>
                <div class="form-group">
                    <label for="isiDisposisi">Disposisi:</label>
                    <textarea
                        rows="3"
                        name="isiDisposisi" 
                        class="form-control"
                        formControlName="isiDisposisi"></textarea>
                </div>
                <div class="form-group">
                    <label for="tindakLanjutDisposisi">Tindak Lanjut:</label>
                    <textarea
                        rows="3"
                        name="tindakLanjutDisposisi" 
                        class="form-control"
                        formControlName="tindakLanjutDisposisi"></textarea>
                </div>
                <div class="form-group">
                    <label for="keterangan">Keterangan:</label>
                    <textarea
                        rows="3"
                        name="keterangan" 
                        class="form-control"
                        formControlName="keterangan"></textarea>
                </div>
                <div class="form-group">
                    <label for="urlFile">Link File:</label>
                    <input
                        type="text" 
                        name="urlFile" 
                        class="form-control"
                        formControlName="urlFile">
                </div>
                <app-danger-alert [message]="error" *ngIf="error"></app-danger-alert>
                <div class="mt-4" *ngIf="isLoading">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div *ngIf="!isLoading">
                    <div class="d-flex justify-content-between">
                        <div class="p-2">
                            <button
                                class="btn btn-success"
                                type="submit"
                                [disabled]="!suratMasukForm.valid"><i class="bi bi-save-fill"></i> Simpan</button>
                        </div>
                        <div class="p-2">
                            <button
                                class="btn btn-danger"
                                type="button"
                                (click)="onCancel()"><i class="bi bi-backspace-fill"></i> Batal</button>  
                        </div>
                    </div> 
                </div>       
            </form>
        </div>
    </div>
</div>